html {  font-family: "微软雅黑" }
body, h1, h2, h3, h4, h5, p, em, ul, li, strong, b, input, select, dl, dt, dd, ol, s, i, form, textarea, blockquote, th, td, header, nav, footer, aside, article, menu, figure, details, summary, button, input { margin: 0; padding: 0; }
header, nav, footer, aside, article, menu, figure, details, summary { display: block; }
body { font-family: "microsoft yahei"; max-width: 640px; min-width: 320px; background: #f5f5f5; margin: auto; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-text-size-adjust: 100%; color: #333; }
li { list-style: none; }
input, button, textarea { background: none; border: 0; outline: none; }
img { display: block; width: 100%; }
a { text-decoration: none; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
.clearfix { *zoom:1;
}
.main { width: 100%; overflow: hidden; position: relative; }
 
.main{ width:100%; overflow:hidden; position:relative;}
header{background:#fe4302;height:2.5rem;line-height:2.5rem;position:relative;text-align:center;color:#fff;font-size:.9rem;}
header h1{font-size:.9rem;}
.logo{background:url(../images/wap_logo.png) no-repeat;background-size:cover;width:6.25rem;height:2.5rem;margin:0 .3rem;text-indent:-999px;overflow:hidden;}
.search,.main-nav li a:after,.reco-pp .call-me,footer li:last-child a:before,#backtop,.back,.search2,.searchbox .kw,.error-400 .error,.error-400 .return-home a,.search-history li del,.search-history li a,.pp-info .icon:before{background:url(../images/wap_icon_v1.png) no-repeat;background-size:40px auto;}
.search{background-position:-5px 10px;padding-left:1.3rem;background-color:#fff;height:1.8rem;line-height:1.8rem;margin:.35rem 0;top:0; left:139px; right:44px;}
.search a{color:#c8c8c8;font-size:.65rem;display:block;text-align:left;font-weight:normal;margin-top:.05rem;}
menu{ width:20px; height:17px;right:.6rem;top:16.5px;position:absolute;}


menu span { width: 20px; height: 2px; background: rgba(255,255,255,1); margin-bottom: 5px; display: block; transition: transform 0.5s; -webkit-transition: -webkit-transform 0.5s; opacity: 1; transform: rotate(0deg) translate(0px, 0px); }
.back { position: absolute; top: 5px; left: 0; height: 40px; line-height: 40px; background-position: 0 -653px; background-size: 30px auto; font-size:.75rem;
font-weight: normal; }
.back a { display: block; color: #fff; padding-left: 1.2rem; }
.search2 { position: absolute; width: 40px; height: 40px; top: 5px; right: 36px; background-position: center -415px; background-size: 30px auto; }
.search2 a { display: block; text-indent: -99px; overflow: hidden; }
.wap-map { position: absolute; left: 100%; top: 50px; width: 100%; z-index: 102; background-color: #fff; border-bottom: 1px solid #c8c8c8; transition: left 0.5s; -webkit-transition: left 0.5s; text-align: left; }
.wap-map dl { padding-left: 1rem; }
.wap-map dt {
font-size:.75rem; font-weight: bold; float: left; width: 16%; padding:.75rem 0;
line-height: 1.3rem; clear: both; }
.wap-map dd { float: left; width: 84%; zoom: 1; overflow: hidden; line-height: 1.3rem; padding:.75rem 0;
border-bottom: 1px solid #c8c8c8; font-size:.7rem;
}
.wap-map dd a { float: left; width: 25%; color: #787878; }
.wap-map .pd a { color: #006ed1; }
.wap-map .ss a { color: #37b300; }
.wap-map .jh a { color: #fe3835; }
.wap-map .xw a { color: #ffa421; }
/*nav*/
.tnav { padding: 5px 10px; display: box; box-align: end; box-pack: justify; display: -webkit-box; -webkit-box-align: end; -webkit-box-pack: justify; background: #fff; position: relative; }
.tnav .navlist { width: 95%; height: 24px; overflow: hidden; transition: height 0.5s; -webkit-transition: height 0.5s; }
.tnav a { color: #6A727B; font-size: 15px; display: block; }
.tnav ul { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; width: 100%; height: 24px; line-height: 24px; }
.tnav li { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; position: relative; }
.tnav .navMore { position: relative; text-align: center; height: 24px; position: absolute; bottom: 5px; right: 12px; }
.arr, .arr:after { display: inline-block; border-color: #a1a1a1 transparent transparent transparent; border-width: 6px; border-style: solid; transition: transform .3s ease; -webkit-transition: -webkit-transform .3s ease; transform-origin: 50% 25% 0; -webkit-transform-origin: 50% 25% 0; position: relative; z-index: 1; }
.arr:after { content: ''; border-color: #fff transparent transparent transparent; position: absolute; margin: -7px 0 0 -6px; }
.tnav .navMore.current .arr, .pp-intro .show .arr { transform: rotateZ(180deg); -webkit-transform: rotateZ(180deg); transition: transform .3s ease; -webkit-transition: -webkit-transform .3s ease; transform-origin: 50% 25% 0; -webkit-transform-origin: 50% 25% 0; }
.tnav .navMore .arr { margin-top:.5rem;
}
.tnav .navMore .arr:after { margin-top: -8px; }
.indexBanner a { display: block; }
.indexBanner .swiper-pagination-bullet { background: #fff; opacity: 1; }
.indexBanner .swiper-pagination-bullet-active { background: #FE4302; }
.main-nav { border-bottom: 1px solid #d3d3d3; background-color: #fff; font-size:.7rem;
padding:.6rem .5rem 0;
margin-bottom:.5rem;
}
.main-nav li { float: left; width: 25%; margin-bottom:.5rem;
text-align: center; }
.main-nav li a { color: #464646; display: block; position: relative; }
.main-nav li a:before {
margin:0 auto .3rem; border-radius: 50%; height: 50px; width: 50px; display: block; content: ''; }
.main-nav li a:after { height: 40px; width: 40px; content: ''; position: absolute; z-index: 1; left: 50%; top: 5px; margin-left: -20px; }
.main-nav li.ts a:before { background-color: #e9a421; }
.main-nav li.ts a:after { background-position: center -40px; }
.main-nav li.sj a:before { background-color: #6db92c; }
.main-nav li.sj a:after { background-position: center -83px; }
.main-nav li.zt a:before { background-color: #3c479b; }
.main-nav li.zt a:after { background-position: center -121px; }
.main-nav li.rw a:before { background-color: #df4064; }
.main-nav li.rw a:after { background-position: center -161px; }
.main-nav li.dhh a:before { background-color: #32abe2; }
.main-nav li.dhh a:after { background-position: center -200px; }
.main-nav li.ss a:before { background-color: #724899; }
.main-nav li.ss a:after { background-position: center -242px; }
.main-nav li.fyb a:before { background-color: #fe3835; }
.main-nav li.fyb a:after { background-position: center -282px; }
.main-nav li.zh a:before { background-color: #5cbda4; }
.main-nav li.zh a:after { background-position: center -923px; }
.reco-pp, .brand-consult, .news, .reco-logo-list, .shop-show, .related-reading, .pp-intro { border-top: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3; margin-bottom:.5rem;
background-color: #fff; }
.reco-pp .title, .flink .title, .brand-consult .title, .news .title, .reco-logo-list .title, .shop-show .title, .related-reading .title, .pp-intro .title {
height:.75rem;
line-height:.75rem; border-bottom: 1px solid #d4d4d4; padding:.5rem;
}
.reco-pp .title h3, .flink .title h3, .brand-consult .title h3, .news .title h3, .reco-logo-list h3, .shop-show .title h3, .related-reading .title h3, .pp-intro .title h3 { float: left; font-weight: normal; font-size:.8rem;
padding-left:.4rem;
border-left: 3px solid #fe4302; }
.reco-pp .title .more, .news .title .more, .pp-intro .title .more { float: right; }
.reco-pp .title .more a, .news .title .more a { color: #787878; display: block; }
.reco-pp li {
padding:.5rem; position: relative; border-bottom: 1px solid #e2e2e2; overflow: hidden; }
.reco-pp li img, .pp-xq-list li img { width: 80px; float: left; }
/*.reco-pp li a{display: -webkit-box; -webkit-box-orient:horizontal; -webkit-box-align: center;white-space:normal;color:#333;}*/
.reco-pp li a { display: block; color: #333; }
.reco-pp li dl { line-height: 1rem; position: relative; margin-left: 90px; width: 42%; }
.reco-pp li dt { color: #fe4302; font-size:.8rem;
}
.reco-pp li:last-child, .brand-consult li:last-child, .news li:last-child, .zx-list li:last-child { border: none; }
.reco-pp .call-me { height: 1.4rem; line-height: 1.4rem; padding-right:.2rem;
background-color: #fe9c7a; border-radius:.3rem;
color: #fff; font-size:.6rem;
position: absolute; bottom:.5rem;
right:.5rem;
padding-left: 26px; background-position: 2px -915px; background-size: 35px auto; }
.reco-pp .pp-more, .zx-list .more, .hyzx-list .more { text-align: center; height: 1.8rem; line-height: 1.8rem; background-color: #f5f5f5; border-radius:.3rem;
margin:0 .5rem .5rem;
color: #787878; font-size:.7rem;
}
.reco-pp .pp-more .arr, .zx-list .more .arr, .hyzx-list .more .arr { border-top-color: #787878; vertical-align: middle; margin: 3px 0 0 5px; }
.reco-pp .pp-more .arr:after, .zx-list .more .arr:after, .hyzx-list .more .arr:after { border-top-color: #f5f5f5; }
.c-fe5 { color: #fe5a21; }
.brand-consult a { color: #fe5a21; display: inline-block; }
.brand-consult ul, .news ul, .related-reading ul { padding:0 .5rem;
}
.brand-consult li, .news li, .related-reading li { border-bottom: 1px solid #d4d4d4; padding:.5rem 0 .5rem .6rem;
line-height: 1rem; position: relative; }
.brand-consult li { height: 2rem; overflow: hidden; }
.brand-consult li:after { position: absolute; bottom: 0; left: 0; width: 100%; z-index: 2; height:.4rem;
background-color: #fff; content: ''; }
.brand-consult .swiper-container { height: 9.1rem; }
.brand-consult li:before, .news li a:before, .related-reading li a:before { position: absolute; top:.9rem;
content: ''; width: 4px; height: 4px; left: 0; background-color: #c8c8c8; }
.news li { zoom: 1; overflow: hidden; }
.news li a { display: block; z-index: 1; width: 80%; color: #464646; height:.9rem;
overflow: hidden; float: left; white-space: nowrap; text-overflow: ellipsis; }
.news li time { float: right; color: #c8c8c8; font-family: arial; }
footer { border-top: 2px solid #fa936f; background-color: #fff; text-align: center; font-size:.6rem;
}
/*footer ul{text-align:center;zoom:1;overflow: hidden;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;display: -moz-box; -moz-box-pack:center; -moz-box-align:center;text-align:center;}*/
footer ul { text-align: center; zoom: 1; overflow: hidden; text-align: center; }
footer li { line-height: 24px; margin:.5rem 0;
position: relative; padding: 0 10px 0 6px; display: inline-block; }
footer li a { display: block; color: #323232; }
footer li:last-child a:before { display: inline-block; width: 20px; height: 20px; content: ''; background-size: 36px auto; vertical-align: middle; margin: 0 2px 2px 0; }
footer li:after { position: absolute; top: 50%; right: 0; height: 12px; width: 1px; background-color: #7e7e7e; content: ''; margin-top: -6px; }
footer li:last-child:after { width: 0; }
footer li:last-child a:before { background-position: center -657px; margin-right: 3px; }
footer p { border-top: 1px solid #e4e4e4; line-height: 1.6rem; color: #969696; }
#backtop { background-color: rgba(0,0,0,.5); background-position: center -839px; background-size: 35px auto; z-index: 98; position: fixed; bottom: 80px; right: 10px; border-radius:.25rem;
color: #fff; height: 40px; width: 40px; text-align: center; padding-top: 20px; font-size:.5rem;
display: none; }
.crumbs {
padding:.5rem;
line-height:.9rem; color: #464646; border-bottom: 1px solid #c8c8c8; }
.crumbs a { color: #464646; }
.zx-list, .hyzx-list, .pp-xq-list { background-color: #fff; margin-bottom:.5rem;
overflow: hidden; }
.zx-list li {
padding:.2rem .5rem .5rem; border-bottom: 1px solid #c8c8c8; }
.zx-list dl { line-height: 1.8rem; }
.zx-list dt { float: left; font-size:.8rem;
width: 85%; color: #fe4302; line-height: 1rem; margin: .4rem 0;
}
.zx-list dd { float: right; color: #c8c8c8; }
.zx-list li p {
line-height:.9rem; color: #464646; }
.zx-list li a { display: block; color: #333; }
.hy-alogo { background-color: #fff; margin-bottom:.5rem;
padding:.5rem .3rem .1rem;
}
.hy-alogo li, .reco-logo-list li { width: 50%; float: left; margin-bottom:.4rem;
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding:0 .2rem;
}
.hy-alogo li a, .reco-logo-list li a { display: block; }
.reco-logo-list li img { max-width: 110px; margin: auto; }
.banner { background-color: #fff; }
/*.banner .swiper-slide{height:257px;}*/
.banner .swiper-pagination { color: #fff; bottom: 6px!important; }
.banner .swiper-pagination-bullet { background: #fff; opacity: 1; }
.banner .swiper-pagination-bullet-active { background: #fe4302; }
.pro-banner img { max-width: 400px; margin: auto; position: relative; }
.reco-logo-list ul { padding:.5rem .3rem 0;
}
.reco-logo-list li { width: 25%; }
.hyzx-list { border-bottom: 1px solid #c8c8c8; margin-top:.5rem;
}
.hyzx-list dl { }
.hyzx-list dt {
font-size:.7rem; color: #fe4302; line-height: 1.6rem; padding:.2rem .5rem 0;
border-top: 1px solid #c8c8c8; }
.hyzx-list dd {
line-height:.9rem; color: #464646; padding:0 .5rem .5rem;
}
.hyzx-list dd .alink { color: #fe4302; }
.hyzx-list a { display: block; }
.hyzx-list .more { margin-top: 0; }
.pptop { margin-top:.75rem;
}
.pptop .num { float: left; color: #fff; text-align: center; height: 15px; line-height: 15px; width: 15px; margin-right:.3rem;
background-color: #fe4302; font-family: arial; }
.pptop li dl { margin-left: 112px; }
.pp-xq-list {
margin-top:.5rem; border-top: 1px solid #c8c8c8; }
.pp-xq-list li {
padding:.5rem; overflow: hidden; border-bottom: 1px solid #c8c8c8; }
.pp-xq-list li dl { margin-left: 90px; }
.pp-xq-list li dt {
font-size:.75rem; color: #fe4302; margin-bottom:.3rem;
font-weight: bold; }
.pp-xq-list li dd { line-height:.9rem;
}
.pp-xq-list li a { display: block; color: #464646; }
.pp-xq-list li .alink { color: #fe4302; }
.shop-show { margin-top:.5rem;
}
.shop-show .shopcon { padding:.5rem .1rem .1rem .5rem;
}
.shop-show .col-1, .shop-show .col-2 { position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; width: 33%; padding-right:.2rem;
}
.shop-show .col-2 { width: 67%; }
.shop-show .col-2 li { float: left; width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding:0 .2rem;
position: relative; margin-bottom:.4rem;
}
.shop-show a { display: block; color: #fff; }
.sorts { height: 1.75rem; line-height: 1.75rem; font-size:.8rem;
background-color: #fff; border-top: 1px solid #d2d2d2; position: relative; z-index: 101; }
.sorts ul { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; text-align: center; }
.sorts li { -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; position: relative; z-index: 2; }
.sorts li:first-child:before { border-left: 1px solid #ddd; height: 14px; content: ''; position: absolute; top: 50%; right: 0; margin-top: -7px; }
.sorts li i { vertical-align: middle; margin: 2px 0 0 3px; }
.sorts li.current { color: #fe4302; border-bottom: 2px solid #fe4302; height: 1.65rem; }
.sorts li.current .arr, .pp-info .more.show .arr, #showArc.show .arr { transform: rotateZ(180deg); -webkit-transform: rotateZ(180deg); transition: transform .3s ease; -webkit-transition: -webkit-transform .3s ease; transform-origin: 50% 25% 0; -webkit-transform-origin: 50% 25% 0; }
 
.filter-pos { position: absolute; width: 100%; background-color: #fff; z-index: 99; display: none; }
.filter-pos ul { display: none; }
.filter-pos li { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; line-height: 1.6rem; border-left: 1px solid #e9e9e9; border-top: 1px solid #e9e9e9; width: 25%; text-indent:.6rem;
color: #787878; font-size:.7rem;
}
.filter-pos li.current { background-color: #f5f5f5; }
.masklayer { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 88; display: none; }
.filter-pos .price li { width: 33.333%; }
.filter-pos li.all { width: 100%; text-align: center; border-bottom: 1px solid #e9e9e9; }
.error-400 { }
.error-400 .error { color: #fe4302; font-size:.7rem;
margin:0 .75rem;
line-height: 1.5rem; padding-left: 30px; background-position: -6px -422px; background-size: 35px auto; }
.error-400 p {
margin:0 .75rem 0 2.25rem; line-height: 1rem; }
.error-400 .return-home { text-align: center; margin: 2rem 0; }
.error-400 .return-home a { color: #fe4302; font-size:.7rem;
line-height: 1.5rem; display: inline-block; padding-right: 26px; background-position: right -878px; background-size: 35px auto; margin-left:.2rem;
}
.popular-items, .investment-amount { padding:0 .5rem;
margin-bottom:.75rem;
}
.popular-items h4, .investment-amount h4 {
font-size:.8rem; line-height: 1.8rem; margin-left:.25rem;
font-weight: normal; }
.popular-items li, .investment-amount li { float: left; width: 33.3%; line-height: 1.6rem; text-align: center; font-size:.6rem;
overflow: hidden; margin-bottom:.5rem;
}
.popular-items li a, .investment-amount li a { border: 1px solid #b4b4b4; display: block; border-radius:.3rem;
background-color: #fff; margin:0 .25rem;
color: #464646; }
.popular-items .swiper-container { padding-bottom:.5rem;
}
.popular-items .swiper-pagination { bottom: 0!important; z-index: 999 }
.popular-items .swiper-pagination-bullet { background: #000; }
.popular-items .swiper-pagination-bullet-active { background: #fe4302; }
.investment-amount li { width: 25%; font-family: arial; }
.search-history {
margin-bottom:.75rem; border-top: 1px solid #e0e0e0; }
.search-history li { background-color: #fff; padding:0 .75rem;
line-height: 1.8rem; position: relative; border-bottom: 1px solid #e0e0e0; font-size:.7rem;
}
.search-history li del { position: absolute; top: 0; right:.1rem;
z-index: 2; width: 1.8rem; height: 1.8rem; background-position: center -597px; background-size: 30px auto; text-indent: -999px; overflow: hidden; }
.search-history li a { position: relative; display: block; color: #333; z-index: 1; background-position: -5px -567px; padding-left: 1.2rem; background-size: 30px auto; }
.search-history .clear-history {
font-size:.7rem; background-color: none; color: #fe4302; width: 100%; height: 1.8rem; line-height: 1.8rem; }
.related-reading { border: none; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; }
.related-reading ul { padding:.5rem .75rem;
}
.related-reading li { border: none; padding:0 0 0 .6rem;
line-height: 1.4rem; height: 1.4rem; overflow: hidden; font-size:.65rem;
}
.related-reading li a:before { top: 50%; margin-top: -2px; }
.related-reading li a { display: block; color: #464646; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.arc-detail { background-color: #fff; border-bottom: 1px solid #ddd; margin-bottom:.5rem;
padding:.5rem .75rem;
font-size:.7rem;
}
.arc-detail h1 { font-weight: normal; font-size: 1rem; color: #fe4302; margin-top:.3rem;
}
.arc-detail .arc-tinfo { color: #787878; line-height: 1.8rem; font-size:.6rem;
margin-bottom:.5rem;
}
.arc-detail .arc-tinfo a { color: #787878; }
.arc-detail article p { text-indent: 1.25rem; line-height: 1.2rem; margin-bottom:.2rem;
}
.arc-detail details { background-color: #f2f2f2; border: 1px solid #c8c8c8; padding:.3rem .5rem .1rem;
line-height: 1rem; margin:.2rem 0 .8rem;
}
.arc-detail details summary { color: #fe4302; float: left; margin-right: 1rem; }
.arc-detail details summary::-webkit-details-marker {
display:none;
}
.arc-detail details p { text-indent: 0; line-height: 1rem; }
.arc-detail figure { margin:.8rem 0;
}
.arc-detail .editor { text-align: right; color: #787878; }
.page-link { border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; background-color: #fff; margin-bottom:.5rem;
color: #fe7241; padding:.5rem .75rem;
line-height: 1.1rem; font-size:.65rem;
}
.page-link a { color: #464646; }
.arc-detail .con { overflow: hidden; }
.arc-detail .con img { max-width: 610px; height: auto; margin: auto; }
.arc-detail .con a { color: #333; }
.pp-intro .title .more { color: #b4b4b4; font-size:.65rem;
}
.pp-intro .title .more .arr { vertical-align: middle; margin-top:.1rem;
}
.pp-intro .intro-con {
padding:.5rem .75rem; color: #787878; font-size:.7rem;
height: 3.3rem; overflow: hidden; position: relative; line-height: 1.1rem; }
.pp-intro .intro-con:after { width: 100%; height:.5rem;
background-color: #fff; content: ''; position: absolute; bottom: 0; left: 0; }
.pp-intro .intro-con p { text-indent: 1rem; margin-bottom:.5rem;
}
.pp-intro .intro-con figure { margin:.5rem 0;
}
.pp-intro .intro-con figure img { max-width: 610px; margin: auto; }
.pp-intro .intro-con img { height: auto; max-width: 610px; }
.pp-intro .intro-con a { color: #787878; }
.message { background-color: #fff; border-bottom: 1px solid #d8d8d8; margin-bottom:.5rem;
padding-bottom:.5rem;
}
.message .title {
padding-left:.75rem; color: #fff; background-color: #fe8e67; height: 1.8rem; line-height: 1.8rem; font-size:.8rem;
font-weight: bold; }
.message ul { padding-top:.2rem;
}
.message li { position: relative; margin:.3rem .75rem;
min-height: 1.8rem; line-height: 1.8rem; margin-bottom:.5rem;
border: 1px solid #a9a9a9; border-radius:.3rem;
padding-left: 3rem; color: #464646; }
.message .red { color: #fe6c39; position: absolute; left:.5rem;
top: 0; }
.message li label { position: absolute; top: 0; left: 1rem; font-size:.7rem;
}
.message li input[type='text'] { height: 1rem; line-height: 1rem; width: 100%; margin:.4rem 0;
font-size:.7rem;
}
.message li textarea { width: 99%; height: 2rem; resize: none; display: block; border: 0; margin-top:.4rem;
line-height: 1rem; font-size:.7rem;
}
.message .btns { padding:0 .75rem;
}
.message .btns button { height: 1.8rem; line-height: 1.8rem; width: 48%; border-radius:.3rem;
float: left; color: #fff; float: left; background-color: #fe4302; font-size:.7rem;
}
.message .btns .reset-btn { float: right; background-color: #529a12; }
.message .username { margin-right: 6.2rem; }
.message .sex { position: absolute; top: 0; right: -5.5rem; font-size:.7rem;
}
.message .sex em { font-style: normal; position: relative; float: left; padding-left: 1.2rem; }
.message .sex em:before { border: 1px solid #d9d9d9; width: 12px; height: 12px; content: ''; position: absolute; top: 50%; left: 7px; border-radius: 50%; margin-top: -7px; }
.message .sex em.on:before { border-color: #529a12; }
.message .sex em.on:after { background-color: #529a12; width: 6px; height: 6px; position: absolute; top: 50%; left: 11px; margin-top: -3px; content: ''; border-radius: 50%; }
.message .vcode label { left:.35rem;
}
.message .vcode img { position: absolute; right:.5rem;
height: 1.1rem; width: auto; top: 50%; margin-top:-.55rem;
}
.banner .img-nums { position: absolute; bottom: 0; right: 0; color: #fff; z-index: 22; background: rgba(0,0,0,.6); height: 1rem; line-height: 1rem; padding:0 .3rem;
}
.pp-info {
margin:.5rem 0; background-color: #fff; border-top: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; }
.pp-info ul { padding:.4rem 0;
}
.pp-info h1, .pp-info h2 { height: 1.8rem; line-height: 1.8rem; padding:0 .5rem;
border-bottom: 1px solid #d8d8d8; font-size:.85rem;
font-weight: normal; color: #fe4302; }
.pp-info li { line-height: 1.4rem; overflow: hidden; padding:0 .5rem;
color: #464646; font-size:.65rem;
}
.pp-info .icon { padding-left: 1.3rem; position: relative; }
.pp-info .icon:before { content: ''; position: absolute; top:.1rem;
left: 0; width: 24px; height: 24px; }
.pp-info .tzje { float: left; }
.pp-info .tzje:before { background-position: center -608px; }
.pp-info .pp-name { display: inline-block; max-width: 115px; overflow: hidden; color: #fe4f12; vertical-align: middle; margin-bottom: 2px; height: 1.4rem; }
.pp-info .price, .pp-info .num { color: #fe4f12; }
.pp-info .md { float: right; }
.pp-info .md:before { background-position: -10px -648px; }
.pp-info .ms { float: left; width: 64%; line-height: 1rem; margin-top:.2rem;
}
.pp-info .ms:before { background-position: center -688px; top: -3px; }
.pp-info .phone { float: right; }
.pp-info .phone:before { background-position: center -728px; }
.pp-info .more-info { display: none; border-top: 1px solid #d2d2d2; transition: transform .3s ease; -webkit-transition: -webkit-transform .3s ease; }
.pp-info .more-info li {
padding:0 .75rem; line-height: 1.2rem; color: #787878; }
.pp-info .more { line-height: 1.7rem; padding:0 .5rem;
border-top: 1px solid #d2d2d2; color: #b4b4b4; position: relative; font-size:.7rem;
}
.pp-info .more .arr { position: absolute; top: 50%; right:.5rem;
margin-top: -3px; }
.pop-phone, .pop-cancel { background-color: #fff; text-align: center; position: fixed; height: 2.5rem; line-height: 2.5rem; color: #047bf8; font-size: 1rem; width: 90%; left: 50%; margin-left: -45%; bottom: 80px; z-index: 99; border-radius:.5rem;
font-family: arial; display: none; }
.pop-cancel { bottom: 15px; font-weight: bold; }
.show-map { position: relative; left: initial; top: auto; border-bottom: 1px solid #c8c8c8; padding-bottom: 0; margin-bottom:.5rem;
z-index: 98; }
.show-map dd:last-child, .wpa-map dd:last-child { border: 0; }
 @media only screen and (min-width: 375px) {
.reco-pp li dl { width: 50%; }
}
@media only screen and (min-width: 400px) {
.reco-pp li dl { width: 54%; }
}
@media only screen and (min-width: 450px) {
.brand-consult li { height: 1rem; }
.brand-consult .swiper-container { height: 6.1rem; }
.message .username { margin-right: 15rem; }
}
#showArc { height: 1.6rem; line-height: 1.6rem; text-align: center; font-size:.7rem;
color: #4499e7; border: 1px solid #4499e7; border-radius: 30px; margin:.5rem auto .1rem;
width: 7rem; display: none; }
#showArc .arr { vertical-align: middle; border-top-color: #4499e7; margin-top:.2rem;
}
.flink { margin-bottom: 2%; background: #FFF; }
.flink p { padding: 10px 15px; }
.flink p a { color: #444; padding-right: 10px; position: relative; margin-right: 10px; }
.flink p a:after { position: absolute; top: 50%; right: 0; height: 12px; width: 1px; background-color: #7e7e7e; content: ''; margin-top: -6px; }





